.theme-container.about-page {
  .content img {
    margin: 0 auto;
    display: block;
    width: 40%;
    border-radius: 50%;
  }
  h1, h2, h3 {
    text-align: center;
  }
}

.theme-container.home-page {
  .hero img {
    width: 40%;
  }
}